
/* .label{
    /* flexDirection: 'row' */
/* } */



body {
    /* background-color:lightgoldenrodyellow;  */
    text-decoration: none;
}


#reg-text-login{
    
    margin-bottom: 10%;

} 

#formcard{
    margin: auto;
    margin-top: 5%;
    height: 500px;
    width: 400px;
    
}

#logincard{
    margin: auto ;
    margin-top: 5%;
    height: 300px;
    width:300px;
    /* margin-top: 25%;
    mar */
    
}

#card-heading     {
   text-align: center;
}

#login-text{
    text-align: center;
    /* padding: 0px 35px 0px 35px; */
  
}

#left-text{
    float: left;
    text-decoration: none;
}

#right-text{
    float: right;
    text-decoration: none;
}
.form{
    text-align: center;
    padding: 0px 2% 0% 2%;
}

#register-btn-div{
margin: 25px;
}

#login-btn-div{
    margin: 15px ;
    margin-left: 27%;  
}

.register-btn{
    width: 50%;
    background-image: linear-gradient(to bottom right, rgb(0, 203, 253), rgb(0, 76, 255));
    
}

.login-btn{
    width: 70%;
    background-image: linear-gradient(to bottom right, rgb(0, 203, 253), rgb(0, 76, 255));
    
}

span.below-txt{
    float: right;
}

#newuser{
    float: right
}

.error{
    color: #F44336;
    float: right;
}

/*
email Verificatio  page css
*/
#verify-card{
    margin: auto;
    margin-top: 5%;
    height: 400px;
    width: 350px;
    
}

.logo{
    margin: auto;
    height: 70px;
    width: 70px ;
}

.label-page{
    padding: 10px;
    background-color: rgb(54, 54, 54);
    margin-bottom: 35px;
    
}

.label-forgetpass{
    padding: 10px;
    background-color: rgb(54, 54, 54);
    margin-bottom: 5px;    
}

div .label-text{
    color: aliceblue;
}




.appbar-search{
    margin-left: 30px;
    border: solid 1px white;
    box-shadow: 0px 0px 5px rgb(255, 255, 255) ; 
    border-radius: 8px;
    padding-top: 0px;
    line-height: 20%;
    display: flex;
    width : 650px; 
    background: rgba(0,0,0,0.04)
}

.appbar-search:hover{
    margin-left: 30px;
    border: solid 1px;
    box-shadow: 0px 0px 5px grey ;
    border-radius: 8px;
    padding-top: 0px;
    line-height: 20%;
    display: flex;
    width : 650px; 
    background: rgba(255, 255, 255, 0.04)
}
.appbar-search-active{
    margin-left: 30px;
    border: solid 1px;
    box-shadow: 0px 0px 5px grey ;
    border-radius: 8px;
    padding-top: 0px;
    line-height: 20%;
    display: flex;
    width : 650px; 
    background: rgba(0,0,0,0.04)
}
.icon{
    opacity:0.5 ;
}

.icon:hover:hover {opacity: 1}

.appbar-logo{
    height: 48px;
    width: 48px ;
    padding-right: 15px;
    
}
.appbar-avatar-btn{
    margin-left:auto;
}

.appbar-heading{
    opacity:0.7 ;
}

#side-drawer{
    margin-top: 64px;
    width:280px
}

.takenote-div{
    display: flex ;
    padding: 6px 20px 6px 20px;
    margin: 100px auto 0px auto ;
    width:500px;
    /* margin-left: 350px; */
    height: 30px;
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    border-radius: 8px;
    /* line-height: 10%; */
}

.takenote-div-open{
    padding: 6px 20px 6px 20px;
    margin: 100px auto 0px auto ;
    width:500px;
    /* margin-left: 350px; */
    /* height: 100px; */
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    border-radius: 8px;
    /* line-height: 10%;  */
    justify-content: center;
}

.card-button-close{
    float: right;
}

.appbar-menu-profile{
    left: 90%;
}

.note-card{
    width:250px;
    margin: 1%;
    margin-bottom: 0%;
    /*
    flex-direction: row; */
}

.notes-div{
    display: flex;
    flex-wrap: wrap;
    position: inherit;
    left: 142px;
    margin-left: 23%;
    margin-top: 5%;

}

.notes-div-grid{
    position: inherit;
    left: 142px;
    margin-left: 23%;
    margin-top: 5%;

}
.note-icon-div{
    opacity:0.5 ;
    /* margin: 5px; */
}
.note-icon-div img{
    height: 20px;
    /* margin: 5px; */
} 

.note-icon-div:hover:hover {opacity: 1}

.note-bottom-icons-div{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}



@media only screen and (max-width: 720px ) {
    
    /* body {
        background-color:lightgoldenrodyellow;
    } */
    
    #formcard{
        margin: auto;
        margin-top: 30%;
        height: 100%;
        width: 100%;
        bottom: 100%;
        margin-bottom: 30%
    }

    #logincard{
        margin: auto;
        margin-top: 40%;
        height: 100%;
      
        bottom: 100%;
        margin-bottom: 30%
    }

    #verify-card{
      /* /  margin: auto; */
        margin-top: 30%;
        height: 450px;
        width: 400px;
        
    }

    #login-btn-div{
        margin: 15px ;
        margin-left: 0%;  
    }

    .register-btn{
        width:100%;
    }

    .login-btn{
        width:100%;
    }
}

@media only screen and (max-width: 600px ) {
    
    /* body {
        background-color:lightgoldenrodyellow;
    } */
    #formcard{
        margin: auto;
        margin-top: 30%;
        height: 100%;
        width: 100%;
        bottom: 100%;
        margin-bottom: 30%;

    }

    #logincard{
        margin: auto;
        margin-top: 40%;
        height: 100%;
        width: 100%;
        bottom: 100%;
        margin-bottom: 30%
    }

    #verify-card{
        /* /  margin: auto; */
          margin-top: 25%;
          height: 400px;
          width: 350px;
          
      }

    #login-btn-div{
        margin: 15px ;
        margin-left: 0%;  
    }

    .register-btn{
        width:100%;
    }

    .login-btn{
        width:100%;
    }
}
/* 0px 35px 0px 35px */